[user]
	useconfigonly = true
	name =
	email =
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[credential]
	helper = osxkeychain
[http]
	sslverify = false
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = vimdiff
	mnemonicprefix = true
[merge]
	tool = vimdiff
	stat = true
[difftool]
	tool = vimdiff
	prompt = false
[github]
	user = ajholt
[alias]
	; aa = add -A
	a = add
	aa = !git add -u && git add . && git status
	amend = commit --amend
	b = branch
	bd = branch -D
	bdr = push origin
	ca = !git aa && git ci -m $1
	ci = commit --verbose
	c = commit -m
	co = checkout
	cb = checkout -b
	d = diff --ignore-all-space
	dt = difftool --ignore-all-space
	dc = diff --cached
	filelog = log -u
	fl = log -u
	gr = log --oneline --graph --decorate
	ir = !git rebase -i origin/master
	l = log --oneline
	lg = log --oneline --graph --decorate
	; ls = show --pretty="format:" --name-only
	; ls = diff-tree --no-commit-id --name-only -r
	ls = diff-tree --name-only -r
	p4r = p4 rebase
	p4s = p4 submit
	r = !git l -30
	ra = !git r --all
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	rbi = rebase -i
	rh = reset HEAD
	rhh = reset --hard HEAD
	s = status
	sa = stash apply
	sl = stash list
	sp = stash pop
	save = stash save
	stash-unapply = !git stash show -p | git apply -R
	undo = reset --soft HEAD@{1}
	up = !git fetch origin && git rebase origin/master
[core]
	editor = /usr/local/bin/nvim
	whitespace = trailing-space,space-before-tab
	excludesfile = /Users/alholt/.gitignore_global
[branch]
	autosetupmerge = true
[pull]
	rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	template = /Users/alholt/.stCommitMsg
