snippet <% "ERB tags" Ab
<%${2:=} ${1:${VISUAL}}$0 %>
endsnippet

snippet crev "Code review results"
Code review results stored in CR ${0:CR}
endsnippet

snippet crminor "Code review - minor"
Code review not needed - minor change
endsnippet

snippet jira "New JIRA issue for Jeeves slackbot"
create -s ${1:<1|3|5>} -${2:<E|P|C|O|V>} MCDNPORTAL ${3:<Story|Task|Bug>} ${4:<Summary>}
${5:<Description>}
endsnippet
