snippet <% "ERB tags" Ab
<%${2:=} ${1:${VISUAL}}$0 %>
endsnippet

snippet crev "Code review results"
Code review results stored in CR ${0:CR}
endsnippet

snippet crminor "Code review - minor"
Code review not needed - minor change
endsnippet

