# These will eventually be my markdown snippets

snippet incl! "Include markdown file" A
{{${1:path_to_file}}}
endsnippet

snippet jhead "Today header"
# Journal: `date '+%d %B %Y'`

$0
endsnippet

snippet logh "Log header" Ab
### `date +'%d %B (%A)'`

$0
endsnippet
